<template>
	<v-container fluid ma-0 pa-0 fill-height class="deep-purple darken-2">
		<description />
		<user-accounts />
		<centres />
		<clients />
		<calendar />
		<care-plans />
		<fast />
		<v-btn top right fixed href="https://gitlab.com/Star-Man/yapca" dark>
			<svg
				width="25"
				height="24.999456"
				viewBox="0 0 25 24.999456"
				enable-background="new 0 0 97 97"
			>
				<g transform="translate(-2.55475,-2.55775)">
					<path fill="#f05133" :d="gitSvgPath" />
				</g>
			</svg>
			View Source Code
		</v-btn>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Description from '../components/features/Description.vue';
import UserAccounts from '../components/features/UserAccounts.vue';
import Centres from '../components/features/Centres.vue';
import Clients from '../components/features/Clients.vue';
import Calendar from '../components/features/Calendar.vue';
import CarePlans from '../components/features/CarePlans.vue';
import Fast from '../components/features/Fast.vue';

@Component({
	components: {
		Description,
		UserAccounts,
		Centres,
		Clients,
		Calendar,
		CarePlans,
		Fast
	}
})
export default class Main extends Vue {
	gitSvgPath =
		'M 27.083187,13.9439 16.168056,3.0293134 c -0.62847' +
		'9,-0.6287512 -1.647921,-0.6287512 -2.276945,0 l -2' +
		'.266333,2.2668778 2.874952,2.8749517 c 0.668201,-0' +
		'.2258172 1.434347,-0.074275 1.966785,0.458436 0.53' +
		'5704,0.5359757 0.685886,1.3086512 0.454355,1.97930' +
		'11 l 2.771294,2.771021 c 0.67065,-0.231258 1.44386' +
		'9,-0.08162 1.979301,0.454627 0.748189,0.74819 0.74' +
		'8189,1.960529 0,2.709262 -0.748734,0.748462 -1.961' +
		'073,0.748462 -2.710078,0 -0.562639,-0.563182 -0.70' +
		'1938,-1.390272 -0.416538,-2.083503 l -2.584654,-2.' +
		'584382 v 6.800905 c 0.182286,0.09033 0.354506,0.21' +
		'0581 0.50632,0.362396 0.74819,0.748189 0.74819,1.9' +
		'60528 0,2.709534 -0.748189,0.747917 -1.961344,0.74' +
		'7917 -2.708989,0 -0.74819,-0.749278 -0.74819,-1.96' +
		'1617 0,-2.709534 0.185006,-0.184735 0.399125,-0.32' +
		'4578 0.627663,-0.41817 V 11.756738 C 14.156651,11.' +
		'663147 13.943077,11.524664 13.757526,11.338569 13.' +
		'190806,10.772121 13.0545,9.9401346 13.345069,9.244' +
		'1825 L 10.510928,6.409497 3.0263134,13.893295 c -0' +
		'.6287512,0.629296 -0.6287512,1.648738 0,2.277489 L' +
		' 13.941988,27.085643 c 0.628479,0.628751 1.647649,' +
		'0.628751 2.276945,0 L 27.083187,16.221389 c 0.6287' +
		'51,-0.628752 0.628751,-1.648738 0,-2.277489 z';
}
</script>
