<template>
	<div class="ma-auto">
		<v-card>
			<v-container>
				<v-row class="ma-5">
					<p class="text-subtitle-1 text-center">
						You may see a button to allow YAPCA to open yapca links.
						Please click allow on this button to continue.
					</p>
				</v-row>
			</v-container>
		</v-card>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class UriLinkerextends extends Vue {
	created(): void {
		const queryArray = Object.keys(this.$route.query).map(
			(key: string) => `${key}=${this.$route.query[key]}`
		);
		if (queryArray.length) {
			const querystring = queryArray.join('&');
			window.location.replace(`yapca://temp-code?${querystring}`);
		}
	}
}
</script>
