<template>
	<v-lazy
		v-model="isVisible"
		width="100%"
		:options="{
			threshold: 1.0
		}"
		class="deep-purple darken-2 ma-0 pa-0 mb-8"
		transition="scale-transition"
	>
		<v-row class="ma-4" align="center">
			<v-col class="white--text text-center">
				<div class="text-h4 ma-4">Calendar</div>
				<p>
					View details about who is visiting this week from the
					Calendar page.<br />Shows you visitors, colour coded by
					which centre they belong to.<br />Simply click on a client
					to view their info page.
				</p>
			</v-col>
			<v-col class="text-center ma-4">
				<v-row justify="center">
					<svg
						viewBox="0 0 700 488.65094"
						width="700"
						height="488.65094"
					>
						<g
							transform="matrix(1.4989293,0,0,1.4989293,-33.725909,-139.40042)"
						>
							<foreignObject
								x="-160"
								y="105"
								width="800"
								height="605"
							>
								<img
									width="380"
									height="300"
									src="../../assets/calendar.png"
									alt="Calendar"
								/>
							</foreignObject>
							<path :d="tabletSvgPath" fill="#fff" />
						</g>
					</svg>
				</v-row>
			</v-col>
		</v-row>
	</v-lazy>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import CommonMixin from '../../mixins/Common';

@Component({})
export default class Calendar extends Mixins<CommonMixin>(CommonMixin) {
	isVisible = false;
}
</script>
