<template>
	<v-lazy
		v-model="isVisible"
		v-intersect="{
			handler: onIntersect,
			options: {
				threshold: [0, 0.5, 1.0]
			}
		}"
		width="100%"
		:options="{
			threshold: 1.0
		}"
		class="deep-purple darken-2 ma-0 pa-0 mb-8"
		transition="scale-transition"
	>
		<v-row no-gutters class="ma-4" align="center">
			<v-col :order="columnOrder[0]" class="text-center">
				<v-row justify="center">
					<svg width="400" height="705" viewBox="0 0 400 705">
						<g
							transform="matrix(0.71929509,0,0,0.71929509,-159.68351,-7.1929509)"
						>
							<foreignObject
								x="260"
								y="54"
								width="490"
								height="785"
							>
								<video
									ref="video"
									autoplay
									width="490"
									loop
									height="785"
									controls
								>
									<track
										label="English"
										kind="descriptions"
										srclang="en"
										src="../../assets/carePlans.vtt"
										default
									/>
									<source
										src="../../assets/carePlans.webm"
										type="video/webm"
									/>
								</video>
							</foreignObject>
							<path fill="#fff" :d="phoneSvgPath" />
						</g>
					</svg>
				</v-row>
			</v-col>
			<v-col :order="columnOrder[1]" class="white--text text-center ma-4">
				<div class="text-h4 ma-4">Care Plans</div>
				<p>
					The powerhouse behind YAPCA, everything else is manipulating
					data, but care plans make things much easier automatically.
				</p>
				<p>
					Every night, care plans are generated for all clients
					visiting centres that day, so users know exactly who has
					data to be updated today.
				</p>
				<p>
					Quickly be told who is visiting and mark clients as absent
					if they didn't visit.
				</p>
			</v-col>
		</v-row>
	</v-lazy>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import VideoMixin from '../../mixins/Video';

@Component({})
export default class CarePlans extends Mixins<VideoMixin>(VideoMixin) {
	isVisible = false;
}
</script>
