<template>
	<v-lazy
		v-model="isVisible"
		v-intersect="{
			handler: onIntersect,
			options: {
				threshold: [0, 0.5, 1.0]
			}
		}"
		width="100%"
		:options="{
			threshold: 1.0
		}"
		class="deep-purple darken-2 ma-0 pa-0 mb-8"
		transition="scale-transition"
	>
		<v-row class="ma-4" align="center">
			<v-col class="white--text text-center">
				<div class="text-h4 ma-4">Centres</div>
				<p>
					YAPCA supports as many centres as you can throw at it.<br />A
					user can be subscribed to as many centres as they wish and
					the same applies for clients.
				</p>
				<p>
					Control opening days, policies, and needs all from a simple
					interface.
				</p>
			</v-col>
			<v-col class="text-center ma-4">
				<v-row justify="center">
					<svg width="800" height="auto" viewBox="0 0 800 752.78467">
						<g transform="translate(-27.53,-25)">
							<foreignObject
								x="135"
								y="40"
								width="585"
								height="348"
							>
								<video
									ref="video"
									loop
									width="585"
									height="348"
									controls
								>
									<track
										label="English"
										kind="descriptions"
										srclang="en"
										src="../../assets/centres.vtt"
										default
									/>
									<source
										src="../../assets/centres.webm"
										type="video/webm"
									/>
								</video>
							</foreignObject>
							<path :d="laptopSvgPath" fill="#fff" />
						</g>
					</svg>
				</v-row>
			</v-col>
		</v-row>
	</v-lazy>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import VideoMixin from '../../mixins/Video';

@Component({})
export default class Centres extends Mixins<VideoMixin>(VideoMixin) {
	isVisible = false;
}
</script>
