<template>
	<v-lazy
		v-model="isVisible"
		v-intersect="{
			handler: onIntersect,
			options: {
				threshold: [0, 0.5, 1.0]
			}
		}"
		width="100%"
		:options="{
			threshold: 1.0
		}"
		class="deep-purple darken-2 ma-0 pa-0 mb-8"
		transition="scale-transition"
	>
		<v-row no-gutters class="ma-4" align="center">
			<v-col :order="columnOrder[0]" class="text-center">
				<v-row justify="center">
					<svg
						viewBox="0 0 699.99999 625.41723"
						width="700"
						height="auto"
					>
						<g transform="translate(-173.19,-117.89)">
							<foreignObject
								x="210"
								y="145"
								width="630"
								height="410"
							>
								<video
									ref="video"
									loop
									width="630"
									height="410"
									controls
								>
									<track
										label="English"
										kind="descriptions"
										srclang="en"
										src="../../assets/clients.vtt"
										default
									/>
									<source
										src="../../assets/clients.webm"
										type="video/webm"
									/>
								</video>
							</foreignObject>
							<path :d="desktopSvgPath" fill="#fff" />
						</g>
					</svg>
				</v-row>
			</v-col>
			<v-col :order="columnOrder[1]" class="white--text text-center ma-4">
				<div class="text-h4 ma-4">Clients</div>
				<p>
					Quickly create and edit clients, with an easy step-by-step
					process.<br />Pause creating clients and get back to it at
					any time.
				</p>
			</v-col>
		</v-row>
	</v-lazy>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import VideoMixin from '../../mixins/Video';

@Component({})
export default class Clients extends Mixins<VideoMixin>(VideoMixin) {
	isVisible = false;
}
</script>
