<template>
	<v-container
		fluid
		style="height: 80vh"
		class="deep-purple darken-2 ma-0 pa-0"
	>
		<v-layout fill-height>
			<v-row class="text-center ma-4" fill-height align="center">
				<v-col>
					<div class="text-h3 white--text">What is YAPCA?</div>
				</v-col>
				<v-col class="blue-grey--text text--lighten-3">
					<p>
						An
						<strong class="orange--text text--lighten-1"
							>open source</strong
						>,
						<strong class="blue--text text--lighten-1"
							>simple to use</strong
						>, and
						<strong class="green--text text--lighten-1"
							>feature rich</strong
						>
						patient management system for day care centres.
					</p>
					<p>
						As a GDPR compliant service, it is already in use in
						multiple day centres in Ireland, with new features being
						added frequently.
					</p>
				</v-col>
			</v-row>
		</v-layout>
	</v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Description extends Vue {}
</script>
