<template>
	<v-lazy
		v-model="isVisible"
		v-intersect="{
			handler: onIntersect,
			options: {
				threshold: [0, 0.5, 1.0]
			}
		}"
		width="100%"
		:options="{
			threshold: 1.0
		}"
		class="deep-purple darken-2 ma-0 pa-0 mb-8"
		transition="scale-transition"
	>
		<v-row class="ma-4" align="center">
			<v-col class="white--text text-center">
				<div class="text-h4 ma-4 mb-0">It's Fast</div>
				<div class="text-h6 mb-4">(Instant Even)</div>
				<p>
					Websocket technology allows one user to update any data, and
					all other users can see the change instantaneously.<br />No
					refreshing pages and no worrying a clients info is out of
					date.
				</p>
				<p>
					All connections are fully encrypted as well as any data
					stored locally.
				</p>
			</v-col>
			<v-col class="text-center ma-4">
				<v-row justify="center">
					<svg
						viewBox="0 0 699.99999 625.41723"
						width="700"
						height="auto"
					>
						<g transform="translate(-173.19,-117.89)">
							<foreignObject
								x="210"
								y="148"
								width="630"
								height="400"
							>
								<video
									ref="video"
									loop
									width="630"
									height="400"
									controls
								>
									<track
										label="English"
										kind="descriptions"
										srclang="en"
										src="../../assets/websockets.vtt"
										default
									/>
									<source
										src="../../assets/websockets.webm"
										type="video/webm"
									/>
								</video>
							</foreignObject>
							<path :d="desktopSvgPath" fill="#fff" />
						</g>
					</svg>
				</v-row>
			</v-col>
		</v-row>
	</v-lazy>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import VideoMixin from '../../mixins/Video';

@Component({})
export default class Fast extends Mixins<VideoMixin>(VideoMixin) {
	isVisible = false;
}
</script>
