<template>
	<v-lazy
		v-model="isVisible"
		v-intersect="{
			handler: onIntersect,
			options: {
				threshold: [0, 0.5, 1.0]
			}
		}"
		width="100%"
		:options="{
			threshold: 1.0
		}"
		class="deep-purple darken-2 ma-0 pa-0 mb-8"
		transition="scale-transition"
	>
		<v-row no-gutters class="ma-4" align="center">
			<v-col :order="columnOrder[0]" class="text-center">
				<v-row justify="center">
					<svg width="400" height="705" viewBox="0 0 400 705">
						<g
							transform="matrix(0.71929509,0,0,0.71929509,-159.68351,-7.1929509)"
						>
							<foreignObject
								x="260"
								y="55"
								width="480"
								height="787"
							>
								<video
									ref="video"
									autoplay
									width="480"
									loop
									height="787"
									controls
								>
									<track
										label="English"
										kind="descriptions"
										srclang="en"
										src="../../assets/userAccounts.vtt"
										default
									/>
									<source
										src="../../assets/userAccounts.webm"
										type="video/webm"
									/>
								</video>
							</foreignObject>
							<path fill="#fff" :d="phoneSvgPath" />
						</g>
					</svg>
				</v-row>
			</v-col>
			<v-col :order="columnOrder[1]" class="white--text text-center ma-4">
				<div class="text-h4 ma-4">User Accounts</div>
				<p>
					Simple user and group management.<br />Easily change user
					groups and reset passwords.
				</p>
			</v-col>
		</v-row>
	</v-lazy>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';
import { Mixins } from 'vue-mixin-decorator';
import VideoMixin from '../../mixins/Video';

@Component({})
export default class UserAccounts extends Mixins<VideoMixin>(VideoMixin) {
	isVisible = false;
}
</script>
