<template>
	<v-app>
		<router-view />
	</v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({ components: {} })
export default class App extends Vue {}
</script>
